* {
    margin: 0;
    padding:  0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.area {
    display: block;
    position: relative;
    padding: 60px 24px 100px;
    font-size: 16px;
    color: #333;
    font-family: 'S-CoreDream-3Light';
}

.area.top {
    padding: 0;
    position: relative;
}


.sectionwrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.area.top img,
.area.bottom img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.area.top p {
    position: absolute;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    z-index: 10;
}

.area.top p:first-of-type {
    bottom: 90px;
}

.area.top p:last-of-type {
    bottom: 50px;
}

.area:not(:first-of-type):not(:last-of-type) {
    border-bottom: 2px solid #EA5514;
}

.area.top a {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    height: 20%;
    z-index: 10;
}

.area.bottom {
    padding: 0;

}